/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --text-color-base: 53 52 48;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --bg-color: #FFF1F7;
    --bg-image: url('../images/cover-image-light.png');
}

:root.theme-light .header {
    color: var(--text-color);
}

:root.theme-light .header-decor {
    display: none;
}

:root.theme-light .title-decor {
    color: var(--text-color);
}

:root.theme-light .header__theme-menu-button:hover {
    border-color: rgba(var(--text-color-base) / 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --title-color: #FFC2E6;
        --bg-color: #FFF1F7;
        --bg-image: url('../images/cover-image-light.png');
    }

    .header-decor {
        display: none;
    }

    .header {
        color: var(--text-color);
    }

    .title-decor {
        color: var(--text-color);
    }

    .header__theme-menu-button:hover {
        border-color: rgba(var(--text-color-base) / 0.4);
    }
}

