/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

a {
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--text-color);
}

a:focus-visible {
    border-width: 1px;
    border-style: solid;
    border-color: var(--text-color);
    outline: none;
}

button {
    cursor: pointer;
}

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    line-height: 23.4px;
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    position: relative;
    display: grid;
    color: var(--accent-color);
    margin-inline-start: var(--padding);
    margin-inline-end: var(--padding);
    padding-block-start: var(--padding);
    padding-block-end: var(--padding);
    block-size: 100dvh;
    min-block-size: var(--header-min-block-size);
    grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
    position: relative;
}

.decorated-zone:before {
    position: absolute;
    top: var(--padding);
    right: 0;
    width: 25px;
    height: 25px;
    content: '';
    border-width: 1px 1px 0 0;
    border-style: solid;
}

.decorated-zone:after {
    position: absolute;
    bottom: var(--padding);
    left: 0;
    width: 25px;
    height: 25px;
    content: '';
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.rec {
    line-height: 25px;
    position: absolute;
    top: var(--padding);
    right: 28px;
}

.rec:after {
    position: absolute;
    top: 8px;
    right: -20px;
    width: 9px;
    height: 9px;
    content: "";
    border-radius: 50%;
    background-color: currentColor;
    box-shadow: 0 0 5px 3px var(--accent-color);
}

.header__theme-menu {
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu-button {
    line-height: 1;
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 13px 0.2em;
    text-transform: lowercase;
    border: 1px solid transparent;
    background-color: transparent;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
    border-color: rgba(var(--accent-color-base) / 0.4);
}

.header__theme-menu-button:focus-visible {
    border-width: 0 0 1px 0;
    border-color: currentColor;
    outline: none;
}

.main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    color: var(--title-color);
}

.header .main-title {
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
    align-self: center;
}

.title-decor {
    font-weight: bold;
    line-height: 23.4px;
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: var(--main-block-margin-start);
    margin-right: var(--padding);
    margin-left: var(--padding);
    gap: var(--section-gap);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__title {
    font-size: inherit;
    font-weight: bold;
    color: var(--accent-color);
    background-color: transparent;
}

.section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.title {
    font-size: inherit;
    font-weight: bold;
}

.advice-section .card:first-child {
    margin-block-start: 10px;
}

.advice-section .card .title {
    font-weight: normal;
}

.card__text {
    margin-block-start: 10px;
}

.gallery {
    gap: 10px;
}

.gallery-container {
    display: grid;
    gap: 10px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-inline-end: var(--padding);
    margin-inline-start: var(--padding);
    padding-block-start: var(--padding);
    padding-block-end: var(--padding);
    margin-block-start: 40px;
    block-size: 100dvh;
    min-block-size: var(--header-min-block-size);
    grid-template-rows: 1fr;
}

.footer .main-title {
    text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
    :root {
        --header-min-block-size: 1024px;
        --padding: 20px;
        --section-gap: 80px;
        --main-block-margin-start: 60px;
    }

    .main-title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-inline-start: calc(var(--padding) * -1);
    }

    .header__text {
        width: 50%;
        justify-self: end;
    }

    .section__title {
        min-width: 236px;
        max-width: 236px;
    }

    .why-section {
        flex-direction: row;
    }

    .advice-section {
        flex-direction: row;
    }

    .gallery {
        gap: 20px;
    }

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content 1fr min-content;
        gap: 20px;
    }

    .sunset-image {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .ice-cream-image {
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .tape-image {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .books-image {
        grid-column: 2;
        grid-row: 2;
    }

    .street-image {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    .footer {
        margin-block-start: 60px;
    }

    .footer > .main-title {
        margin-left: initial;
    }
}

@media (width >= 1024px) {

    :root {
        --header-min-block-size: 768px;
    }

    .header__theme-menu {
        align-self: start;
        justify-self: center;
    }

    .header__theme-menu-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .section__title {
        min-width: 315px;
        max-width: 315px;
    }

    .what-section .section__content {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .what-section .section__content .card {
        flex: 1;
    }
}
