/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

a {
    text-shadow: 2px 2px 0 var(--accent-color);
    text-decoration: none;
}

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    line-height: 23.4px;
    padding-right: var(--padding);
    padding-left: var(--padding);
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    position: relative;
    display: grid;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    block-size: 100dvh;
    min-block-size: var(--header-min-block-size);
    grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
    position: relative;
}

.header-decor {
    line-height: 25px;
    position: absolute;
    top: var(--padding);
    right: calc(var(--padding) * 3 - 2px);
    color: var(--accent-color);
}

.header-decor:after {
    position: absolute;
    top: 8px;
    right: -20px;
    width: 9px;
    height: 9px;
    content: "";
    border-radius: 50%;
    background-color: currentColor;
    box-shadow: 0 0 5px 3px var(--accent-color);
}

.decorated-zone:before {
    position: absolute;
    top: var(--padding);
    right: 0;
    width: 25px;
    height: 25px;
    content: '';
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: var(--accent-color);
}

.decorated-zone:after {
    position: absolute;
    bottom: var(--padding);
    left: 0;
    width: 25px;
    height: 25px;
    content: '';
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: var(--accent-color);
}

.header__theme-menu {
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu-button {
    line-height: 1;
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 13px 0.2em;
    text-transform: lowercase;
    color: var(--accent-color);
    border: 1px solid transparent;
    background-color: transparent;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid currentColor;
}

.main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    color: var(--title-color);
}

.header .main-title {
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
    align-self: center;
}

.title-decor {
    font-weight: bold;
    line-height: 23.4px;
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.section {
    display: flex;
    flex-direction: column;
    margin-block-end: 10px;
}

.section-title {
    font-size: inherit;
    font-weight: bold;
    color: var(--accent-color);
    background-color: transparent;
    margin-block-start: 40px;
}

.card {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-block-start: 20px;
}

.title {
    font-size: inherit;
    font-weight: bold;
}

.advice-section > .title {
    margin-block-start: 18px;
}

.advice-section .card:first-child {
    margin-block-start: 10px;
}

.advice-section .card .title {
    font-weight: normal;
}

.card-text {
    margin-block-start: 10px;
}

.gallery {
    margin-block-start: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, min-content);
    gap: 10px;
    margin-block-start: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    margin-block-start: 40px;
    block-size: 100dvh;
    min-block-size: var(--header-min-block-size);
    grid-template-rows: 1fr;
}

.footer .main-title {
    text-shadow: 2px 2px 0 var(--accent-color);
}
