/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    position: relative;
    display: grid;
    padding: var(--header-padding);
    block-size: 100dvh;
    min-block-size: var(--header-min-block-size);
    grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
    position: relative;
}

.header-decor {
    line-height: 25px;
    position: absolute;
    top: var(--header-padding);
    right: calc(var(--header-padding) * 4);
    color: var(--accent-color);
}

.header-decor:after {
    position: absolute;
    top: 8px;
    right: -20px;
    width: 9px;
    height: 9px;
    content: "";
    border-radius: 50%;
    background-color: currentColor;
    box-shadow: 0 0 5px 3px var(--accent-color);
}

.decorated-zone:before {
    position: absolute;
    top: var(--header-padding);
    right: var(--header-padding);
    width: 25px;
    height: 25px;
    content: '';
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: var(--accent-color);
}

.decorated-zone:after {
    position: absolute;
    bottom: var(--header-padding);
    left: var(--header-padding);
    width: 25px;
    height: 25px;
    content: '';
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: var(--accent-color);
}

.header__theme-menu {
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu-button {
    line-height: 1;
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 13px 0.2em;
    text-transform: lowercase;
    color: var(--accent-color);
    border: 1px solid transparent;
    background-color: transparent;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid currentColor;
}

.header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
    font-weight: bold;
    line-height: 23.4px;
    align-self: center;
    color: var(--bg-color);
    background-color: var(--accent-color);
}
