/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-color: #000028;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --font-family: 'IBM Plex mono';
    --font-size: 18px;
    --bg-image: url('../images/cover-image-dark.png');
    --header-min-block-size: 668px;
    --header-padding: 10px;
}