/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-color: #000028;
    --accent-color-base: 255 0 112;
    --accent-color: rgb(var(--accent-color-base));
    --title-color: #DB00FF;
    --text-color-base: 241 178 206;
    --text-color: rgb(var(--text-color-base));
    --font-family: 'IBM Plex mono';
    --font-size: 18px;
    --bg-image: url('../images/cover-image-dark.png');
    --header-min-block-size: 668px;
    --padding: 10px;
    --section-gap: 50px;
    --main-block-margin-start: 40px;
}